
/* side menu */

.wui-side-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 13.750em;
	height: 100%;
	backface-visibility: hidden;
	z-index: 3;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: webkit-transform 220ms ease-in-out;
	transition: transform 220ms ease-in-out;
}

.wui-side-menu.open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.wui-side-menu.open~.content .side-menu-trigger {
	display: none;
}

.wui-side-menu.open {
	box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
}

.wui-side-menu .header,
.wui-content-header {
	vertical-align: baseline;
	line-height: 50px;
}

.wui-side-menu-pin-trigger,
.wui-side-menu-trigger {
	width: 50px;
	height: 50px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
}

.wui-side-menu .wui-side-menu-pin-trigger {
	display: none;
	float: right;
}

.wui-side-menu .wui-side-menu-pin-trigger i {
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}

.wui-side-menu .wui-side-menu-items {
	overflow-y: auto;
	height: calc(100% - 50px);
}

.wui-side-menu .wui-side-menu-item {
	display: block;
	width: 100%;
	padding: 15px 12px;
	border-left: 5px solid transparent;
}

.wui-side-menu .wui-side-menu-item {
	height: 50px
}

.wui-side-menu .wui-side-menu-item i.box-ico {
	margin-right: 4px;
}


/* overlay */

.wui-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0.5;
	display: none;
}

.wui-side-menu.open~.wui-overlay,
.wui-overlay.active {
	display: block;
}


/* content */

.wui-content {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
	padding: 0 10px;
}

.wui-content .wui-side-menu-trigger {
	margin-left: -10px;
}

@media only screen and (min-width:768px) {
	.wui-side-menu .wui-side-menu-pin-trigger {
		display: inline-block;
	}
	.wui-side-menu.open {
		box-shadow: initial;
	}
	.wui-side-menu.open~.wui-overlay {
		display: none;
	}
	.wui-side-menu.open~.wui-content .wui-side-menu-trigger {
		display: none;
	}
	.wui-side-menu.open:not(.pinned)~.wui-overlay {
		display: block;
	}
	.wui-side-menu.open:not(.pinned) {
		box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
	}
	.wui-side-menu.open.pinned~.wui-content {
		left: 220px;
	}
}

ul.wui-side-menu-items {
	list-style: none;
	padding: 0
}

.wui-side-menu {
	background-color: #292e34;
	color: #ddd;
}

.wui-side-menu .wui-side-menu-trigger:hover,
.wui-side-menu-item:hover,
.wui-side-menu-pin-trigger:hover {
	color: #fff;
	background-color: #383f45;
}

.wui-side-menu a {
	color: #ccc;
	text-decoration: none
}

.wui-side-menu .wui-side-menu-item.active {
	border-left-color: #fff;
	color: #fff
}

.wui-content a {
	color: #000;
}


/* demo */

body {
	margin: 0;
	font-family: 'arial';
	font-weight: 100;
	background-color: white;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#events {
	background-color: #ccc;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
}

table th,
table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/*@media screen and (max-width: 600px) {
	table {
		border: 0;
	}
	table caption {
		font-size: 1.3em;
	}
	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}
	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table td:last-child {
		border-bottom: 0;
	}
}
*/

/* Tooltip */
.tool-tip {
	position: relative;
}

 .tool-tip__info {
	color: white;
	display: none;
	background: #292e34;
	font-size: 0.875em;
	padding: 0.5em;
	border-radius: 5px;
	position: absolute;
	min-width: 260px;
	margin-left: -130px;
	left: 50%;
	margin-top: -5px;
	top: 100%;
	z-index: 2;
}


.tool-tip .tool-tip__info .info {
	display: block;
}

.tool-tip:hover .tool-tip__info,
.tool-tip:focus .tool-tip__info {
	display: inline-block;
}

a:focus+.tool-tip .tool-tip__info {
	display: inline-block;
}

.actionBtn {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 22px;
	cursor: pointer;
}

.title{
	color: #000;
	font-size: 18px;
	margin: 0;
	background-color: white;
}

/* Modal Thing */

.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 20;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
}

.modal-header {
	padding: 2px 16px;
	margin: 0;
	background-color: #000;
	color: white;
}

.modal-body {
	padding: 0 16px 16px 16px;
}

.modal-body input,select {
	display: inline-block;
	width: 100%;
	padding: 7px 0;
	border: 1px solid #ccc;
	box-sizing: content-box;
}

.modal-body button {
	background-color: #000;
	color: white;
	padding: 7px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	margin: 16px auto 0 auto;
	display: block;
}

.pagination {
	display: inline-block;
	margin: 35px;
}

.pagination a {
	color: #292e34;
	float: left;
	padding: 8px 16px;
	background-color: #f5f5f5;
	text-decoration: none;
}

.pagination a.active {
	background-color: #292e34;
	color: #ddd;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}